@model Fizika.Mvc.Areas.Admin.Models.StudentUpdateViewModel
            <div class="modal-body">
                <form asp-action="Update" enctype="multipart/form-data" method="post" id="form-team-update">
                    <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="All" style="display:none;" class="text-danger" id="validation-summary" aria-hidden="true">
                    </div>
                    <div class="form-group">
                        <label asp-for="Fullname"></label>
                        <input class="form-control" asp-for="Fullname" />
                        <span class="text-danger" asp-validation-for="Fullname"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="University"></label>
                        <input class="form-control" asp-for="University" />
                        <span class="text-danger" asp-validation-for="University"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Point"></label>
                        <input class="form-control" asp-for="Point" />
                        <span class="text-danger" asp-validation-for="Point"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PointPhysic"></label>
                        <input class="form-control" asp-for="PointPhysic" />
                        <span class="text-danger" asp-validation-for="PointPhysic"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PictureFile"></label>
                        <img src="~/img/@Model.Photo" width="150" />
                        <input type="hidden" asp-for="Photo" />
                        <input type="hidden" asp-for="PictureFile" />
                        <input type="hidden" asp-for="Id" />
                        <input type="file" class="form-control" asp-for="PictureFile" />
                        <span class="text-danger" asp-validation-for="PictureFile"></span>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                        <label asp-for="IsActive" class="form-check-label"></label>
                        <span class="text-danger" asp-validation-for="IsActive"></span>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsDeleted" />
                        <label asp-for="IsDeleted" class="form-check-label"></label>
                        <span class="text-danger" asp-validation-for="IsDeleted"></span>
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" asp-controller="Team" asp-area="Admin" class="btn btn-danger btn-block"><span class="fas fa-times"></span> Ləğv Et</a>
                        <button type="submit" class="btn btn-primary btn-block" id="btnSave"><span class="fas fa-save"></span>Yadda Saxla</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
