@model Fizika.Entities.DTOs.BusinessAddDto

<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fas fa-plus"></span> Biznes Əlavə Et</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Ləğv Et">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Add" id="form-business-add" enctype="multipart/form-data">
                    <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="All" style="display:none;" class="text-danger" id="validation-summary" aria-hidden="true">
                    </div>
                    <div class="form-group">
                        <label asp-for="Header"></label>
                        <input class="form-control" asp-for="Header" />
                        <span class="text-danger" asp-validation-for="Header"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input class="form-control" asp-for="Description" />
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PictureFile"></label>
                        <input type="file" class="form-control" asp-for="PictureFile" />
                        <span class="text-danger" asp-validation-for="PictureFile"></span>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                        <label asp-for="IsActive" class="form-check-label"></label>
                        <span class="text-danger" asp-validation-for="IsActive"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal"><span class="fas fa-times"></span> Ləğv Et</button>
                <button type="button" class="btn btn-primary btn-block" id="btnSave"><span class="fas fa-save"></span>Yadda Saxla</button>
            </div>
        </div>
    </div>
</div>