@model Fizika.Entities.DTOs.UserPasswordChangeDto
@{ 
    Layout = "_Layout";
}

        <div style="margin-top:-100px;" class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="userpic"><img src="~/img/defaultUser.png" ></div>
                <div class="panel-body">
                    <h2 class="text-center">Xoş gəldiniz! @User.Identity.Name</h2>
                    <p class="text-center light">Şifrənizi dəyişdirmək üçün aşağıdakıları doldurun</p>
                    <form asp-area="Admin" asp-action="PasswordChange" asp-controller="User" method="post">
                        <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
                        <div asp-validation-summary="All" style="display:none;" class="text-danger" id="validation-summary" aria-hidden="true">
                        </div>
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Hal-hazırdakı şifrəniz" asp-for="CurrentPassword" type="password">
                            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Yeni şifrəniz" asp-for="NewPassword" type="password">
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Yeni şifrəniziz təkrarı" asp-for="RepeatPassword" type="password">
                            <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Yadda Saxla</button>
                        <a class="btn btn-danger btn-block" asp-area="Admin" asp-action="Index" asp-controller="User"><span class="fas fa-times"></span> Ləğv Et</a>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
